@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {

    font-family: 'Poppins', sans-serif;

}



.header {

    top: 0;

    left: 0;

    width: 100%;

    display: flex;

    justify-content: space-between; 

    align-items: center; 

    padding: 20px 50px; 

    background-color: #ffffff;

    z-index: 100;

}



.logo img {

    height: 50px; 

}



.nav ul {

    list-style: none;

    display: flex; 

    gap: 30px;

}



.nav ul a {

    text-decoration: none; 

    color: #0095FF; 

    font-weight: 600;

}



.banner-localixo {

            width: 100%;

            height: 600px;

            background-image: url('./assets/Banner.png'); 

            background-size: cover;

            background-position: center;

            display: flex;

            align-items: center; 

            justify-content: flex-start; 

            padding-left: 10%;

        }



        .banner-content {

            text-align: left; 

            max-width: 40%;

            padding: 0;

        }



        .banner-localixo h1 {

            font-family: 'Poppins', sans-serif;

            color: #FFFFFF;

            font-size: 2.5em;

            font-weight: 600;

            line-height: 1.3;

            margin-bottom: 30px;

        }



        .btn-cta {

            background-color: #008080;

            color: #FFFFFF;

            display: inline-block;

            padding: 15px 30px;

            border-radius: 30px;

            text-decoration: none;

            font-family: 'Poppins', sans-serif;

            font-size: 1em;

            font-weight: 500;

            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

        }



        .btn-cta:hover {

            background-color: #009999;

            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);

        }



    .pet-image {

    width: 600px; 

    height: auto;

    overflow: hidden; 

    }



    .pet-image img {

    width: 100%;

    height: auto;

    object-fit: cover; 

} 